@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

body {
    background-color: #fff;
    padding: 0 25px 0 25px;
}

.row>* {
    padding-left: 0;
}

body * {
    font-family: 'Source Sans Pro', sans-serif;
}

div.container,
div.group-botones {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


img {
    margin: auto;
}

.txt-introduccion {
    max-width: 60%;
    font-size: 20px;
}

div.group-botones {
    width: 80%;
    margin: 10px auto;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn {
    padding: 15px 0;
    font-weight: 700;
    border-radius: 5px;
    border-color: black;
}

.btn-primary {
    background-color: #000;
}

.btn-primary:hover {
    background-color: #000;
}

.btn-secondary {
    background-color: #fff;
    color: black;
}

legend {
    color: #666666;
}

.form-check {
    display: flex;
    align-items: center;
    border-color: transparent;
    border-radius: 5px;
    background-color: #F5F8FF;
    padding: 5px 12px;

}

.groupDocIdentidad {
    gap: 3px;
}

.form-check-label {
    margin-left: 10px;
}

.form-check-input:checked {
    background-color: #000000;

}

legend {
    margin: 0;
}


.form-check-input[type=radio] {
    margin: 0;
    height: 25px;
    width: 25px;
    border: solid 3px #000000;

}

.form-group * {
    font-size: 15px;
}

.form-group {
    padding-top: 25px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group h3 {
    font-size: 28px;
    font-weight: 400;
}

#txtIdentificacion {
    padding: 5px 10px;
    font-weight: 300;
}

.info-div,
.info-div a {
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    color: #7C7C7C;

}

#progress-bar {
    width: 200px;
    height: 5px;
    border-radius: 0;
    padding-left: 0px;
    padding-right: 0px;
}



.progress-bar {
    background-color: #7C7C7C;
}

#a-pregunta-info {
    color: #000;
}

.txt-ending {
    color: #3F3D56;
    font-size: 25px;
    font-weight: 400;
}

#img-ending {
    margin-top: 35px;
}